html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*Gombok*/
.btn-primary {
    background-color: #8dc63f; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
    .btn-primary:hover {
        background-color: #77a93a; 
    }
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fde5e5; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  margin-bottom: 60px;
}