@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 Welcome to the Calculator game of the C# class at GDE!" </h2>
    <p>Click on the Play button to start:</p>
    <a href="@Url.Action("Game", "Calculator")" class="btn btn-primary">Play</a>
</div>
